.container{
    width: 400px;
    box-shadow: 0px 0px 60px 20px gray;
    height: 550px;
    margin: 10% auto;
    border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
}

#input {
    text-align: center;
    width: 380px;
    border: 1px solid;
	border-radius: 3px;
	padding: 20px 8px;
	margin: 5% auto;
    line-height: 10px;
    height: 25px;
    background-color: green;
    font-size: 30px;

    
}

.buttons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
      /* border: 1px solid;  */
    } 

   
    .button{
       width: 20px;
       background-color: green;
       border: 1px solid;
       border-radius: 3px;
       padding: 25px;
       margin: 5px;
       font-size: 26px;

    }
    




